<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DashBoard</title>
</head>
<body>
    {% if user.is_authenticated %}
    <h1>Hi, {{ user.first_name }} Welcome to your Dashboard </h1>
    <button><a href="/init_test/take_test">Take Test</a></button>
    <button><a href="/accounts/logout">Logout</a></button>
    {% else %}
    <button><a href="/accounts/register">Register</a></button>
    <button><a href="/accounts/login">Login</a></button>
    {% endif %}

</body>
</html>